.container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    width: 975px;
    margin: 0 auto;
}
.clear {
    clear: both;
}
.separator{
    margin: 40px 0;
    width: 100%;
    background: url(images/sep.png) repeat-x;
    height: 5px;
}
.separator2{
    margin: 40px 0;
    width: 100%;
    background: url(images/sep2.png) repeat-x;
    height: 5px;
}
.bestBuy-banner {
    position: relative;
    width: 100%;
    height: 68px;
    background-color: #112c4f;
}
.bestBuy-banner img {
    float: left;
}
.bbDesc {
    width: 330px;
    display: block;
    float: right;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    padding: 13px 0;
}
.bbCat {
    width: 445px;
    display: block;
    float: left;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    line-height: 40px;
    padding: 14px 0 14px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#leftRibbon, #rightRibbon {
    position: absolute;
    top: 0;
    width: 157px;
    height: 122px;
}
#leftRibbon {
    background: url(images/ribbon-left.png) no-repeat 0 0;
    left: -157px;
}
#rightRibbon {
    background: url(images/ribbon-right.png) no-repeat 0 0;
    right: -157px;
}
.etabs {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #dcdcdc;
}
.tab-container{
    margin-top: 20px;
}
.tab {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 20%;
    zoom: 1;
    *display: inline;
    background: #ffffff;
    height: 85px;
    border-right: 1px solid #dcdcdc;
}
.tab.last{
    border-right: none;
}
.tab a {
    font-size: 14px;
    line-height: 2em;
    display: block;
    border-bottom: 5px solid #f6f6f6;
    outline: none;
    width: 100%;
    height: 85px;
    padding: 10px 0 10px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
.tab a:hover .marker {
    display: block;
}
.tab.active {
    background: #f6f6f6;
    position: relative;    
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
.tab.active a{
    border-bottom: none;
}
.tab.active .marker{
    display: block;
    bottom: -3px;
}
.tab .marker{
    display: none;
    width: 100%;
    position: absolute;
    bottom: -8px;
    height: 3px;
    background: #3dc2d4;
    left: 0;
}
.tab .marker:before{
    content: '';
    background: url(images/marker.png) no-repeat center 3px;
    width: 100%;
    display: block;
    height: 15px;
    text-align: center;
}
.tab-container .panel-container {
    background: #ffffff;
    padding: 10px 0;
    margin-top: 30px;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.tab .headerProduct {
    width: 65px;
    float: left;
    height: 65px;
    margin-right: 10px;
}
.tab .brandLogo {
    width: 100px;
    height: 25px;
    float: left;
}
.tab .price {
    font-size: 22px;
    font-weight: bold;
    color: #42b21b;
    float: left;
    width: 100px;
    font-family: 'Ubuntu', sans-serif;
}


 
/* The ghost, nudged to maintain perfect centering */
.tab .headerProduct:before {
  content: '';
  display: inline-block;
  height: 65px;
  vertical-align: middle;
  margin-right: -0.25em;
}

/* The element to be centered, can
   also be of any width and height */ 
.tab .headerProduct img {
  display: inline-block;
  vertical-align: middle;
}

#product-thumbnails{
    border: none;
    width: 100%;
}
#productContent{
    width: 310px;
    margin-left: 20px;
    height: 300px;
    float: left;
    display: block;
}
#productContent h1{
    color: #232932;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}
#productContent h2{
    color: #3095b4;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}
#productContent .expertImage{
    float: right;
    display: block;
    width: 105px;
}
#productContent p{
    display: inline-block;
    width: 200px;
    font-size: 13px;
    font-family: Arial, sans-serif;
    padding: 10px 0;
    color: #232932;
}

#productContent p span.author{
    color: #6a6b6b;
    width: 100%;
    padding: 20px 0;
    display: block;
    font-size: 12   px;
    font-family: Arial, sans-serif;
}

#calltoAction{
    width: 260px;
    margin-left: 20px;
    min-height: 300px;
    background: #f5f5f5;
    float: right;
    display: block;
    border: 1px solid #dddddd;
    padding: 20px 0;
}
.btnContainer{
    margin: 0 15px;
}
.btnContainer .price{
    display: block;
    float: left;
    width: 75px;
    height: 40px;
    color: #42b21b;
    font-family: "Ubuntu", sans-serif;
    font-size: 26px;
    line-height: 45px;
    font-weight: 500;
}
.btnContainer .save{
    display: block;
    float: left;
    width: 65px;
    margin-left: 10px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    padding-top: 10px;
}
.btnContainer .save span{
    color: #e50000;
    width: 100%;
    display: block;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
}
.btnContainer .separator2{
    margin: 20px 0px;
}

.addtoCart, .addtoCart:hover{
    float: left;
    display: block;
    height: 40px;
    text-shadow: 0 1px 0 rgba(14,15,15,0.33);
    font: bold 16px/40px 'Ubuntu',Arial,Helvetica,sans-serif;
    font-weight: normal;
    text-decoration: none;
    width: 147px;
    cursor: pointer;
    text-align: left;
    color: #fff;
    padding: 0px 0;
    border: 1px solid #57b512;
    background: #69cf1d;
    background: -moz-linear-gradient(top,#69cf1d 0,#64c81a 25%,#53af0f 81%,#4fa90c 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#69cf1d),color-stop(25%,#64c81a),color-stop(81%,#53af0f),color-stop(100%,#4fa90c));
    background: -webkit-linear-gradient(top,#69cf1d 0,#64c81a 25%,#53af0f 81%,#4fa90c 100%);
    background: -o-linear-gradient(top,#69cf1d 0,#64c81a 25%,#53af0f 81%,#4fa90c 100%);
    background: -ms-linear-gradient(top,#69cf1d 0,#64c81a 25%,#53af0f 81%,#4fa90c 100%);
    background: linear-gradient(to bottom,#69cf1d 0,#64c81a 25%,#53af0f 81%,#4fa90c 100%);
    -webkit-box-shadow: inset 0 -2px 0 #268103;
    -moz-box-shadow: inset 0 -2px 0 #268103;
    box-shadow: inset 0 -2px 0 #268103;
    border-radius: 2px;
}

.addtoCart:hover{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.addtoCart:before{
    content: '';
    background: url('images/ico-cart.png') 15px 10px no-repeat;
    width: 45px;
    height: 40px;
    float: left;
}

#calltoAction .mcafee{
    margin-left: 10px;
    margin-top: 3px;
    float: left;
}

.guarantee{
    display: block;
    float: left;
    width: 73px;
    margin-left: 5px;
    height: 40px;
}
#calltoAction .moreInfo{
    width: 109px;
    margin-top: 20px;
    height: 38px;
    display: block;
    float: left;
    background: url(images/more-info.png) no-repeat 0 0;
    font-family: "Ubuntu", sans-serif;
    font-size: 13px;
    font-weight: normal;
    text-decoration: none;
    color: #666666;
    line-height: 38px;
}
#calltoAction .moreInfo:hover{
    
}
#calltoAction .moreInfo span.info{
    width: 35px;
    height: 38px;
    background: url(images/ico-info.png) no-repeat 12px 8px;
    display: block;
    float: left;
}

.badgeHolder{
    width: 100%;
    margin: 30px 0;
}
.badge{
    width: 60px;
    margin-right: 10px;
    display: inline-block;
    position: relative;
}
.badge span{
    text-align: center;
    position: absolute;
    width: 60px;
    padding: 30px 0 10px 0;
    height: 20px;
    display: block;
    line-height: 20px;
    left: 0;
    top: 0;
}
.productOverView{
    width: 700px;
    display: block;
    float: left;
}
.productOverView h3{
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 20px;
    color: #232932;
    font-weight: 400;
}
.productOverView h4{
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 20px;
    color: #232932;
    font-weight: 500;
}
.productOverView p{
    font-size: 12px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
}
.productOverView ul{
    width: 470px;
    margin-bottom: 40px;
}
.productOverView ul li{
    list-style: none;
    padding-left: 20px;
    width: 210px;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    background: url(images/bullet.png) 0 12px no-repeat;
}
.btnHolder{
    width: 260px;
    float: right;
    display: block;
}
.btnHolder a{
    width: 252px;
    height: 38px;
    margin-bottom:10px;
    display: block;
    color: #595959;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 38px;
    padding-left: 20px; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(images/btn-bg.png) no-repeat 0 0;
}
.btnHolder a span.info{
    width: 25px;
    height: 38px;
    background: url(images/ico-info.png) no-repeat 0px 8px;
    display: block;
    float: left;
}
.btnHolder a:hover{
    background: url(images/btn-bg.png) no-repeat 0 2px;
    line-height: 40px;
}


.compare {
   width: 109px;
    margin-top: 20px;
    height: 38px;
    display: block;
    float: left;
    font-family: "Ubuntu", sans-serif;
    font-size: 13px;
    font-weight: normal;
    text-decoration: none;
    color: #666666;
    line-height: 38px; 
    margin-left: 10px;
}
input[type=checkbox].css-checkbox {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0
}
input[type=checkbox].css-checkbox+label.css-label {
    padding-left: 38px;
    height: 39px;
    width: 71px;
    display: inline-block;
    line-height: 38px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 13px;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
}
input[type=checkbox].css-checkbox:checked+label.css-label {
    
    background-image: url(images/btn-compare-unselected.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    color: #fff;

}
input[type=checkbox].css-checkbox.checked+label.css-label:after {
    
    background-image: url(images/btn-compare-unselected.png)
}
.css-label {
    background-image: url(images/btn-compare-selected.png)
}
.mobile-container, .mobile{
    display: none;
}
@media (max-width: 768px) {
    .mobile-container{
        display: block;
        width: 100%;
        padding:20px; 
        -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
    .mobile-container .productImage{
        width: 40%;
        float: left;
    }
    .mobile-container h2{
        color: #232932;
        font-size: 20px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 400;
        margin-bottom: 20px;
    }
    .mobile-container h3{
        display: inline-block;
        color: #3095b4;
        font-size: 18px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 400;
        margin-left: 20px;
    }
    .mobile-container .expertImage{
        float: right;
        display: block;
        width: 105px;
    }
    .mobile-container p{
        display: inline-block;
        width: 50%;
        font-size: 13px;
        font-family: Arial, sans-serif;
        padding: 10px 0;
        color: #232932;
        margin-left: 20px;
    }

    .mobile-container p span.author{
        color: #6a6b6b;
        width: 100%;
        padding: 20px 0;
        display: block;
        font-size: 12   px;
        font-family: Arial, sans-serif;
    }
    .mobile-container .moreInfo{
        width: 109px;
        margin-top: 20px;
        height: 38px;
        display: inline-block;
        background: #f27f2b;
        border: 1px solid #ee6603;
        font-family: "Ubuntu", sans-serif;
        font-size: 13px;
        font-weight: normal;
        text-decoration: none;
        color: #ffffff;
        line-height: 38px;
    }
    .mobile-container .moreInfo span.info{
        width: 35px;
        height: 38px;
        background: url(images/ico-info.png) no-repeat 12px 8px;
        display: block;
        float: left;
    }
    .mobile-container .btnContainer{
        text-align: center;
    }
    .mobile-container .btnContainer .price, .mobile-container .btnContainer .save, .mobile-container .btnContainer .guarantee{
        display: inline-block;
        float: none;
    }

    .mobile{
        display: block;
        padding-left: 20px;
        -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
    .mobile .bbCat{
        width: 50%;
        font-size: 15px;
    }
    .badgeHolder{
        text-align: center;
    }
    .container {
        display: none;
    }
    .separator{
        margin: 30px 0;
    }
}
